[submodule "lain"]
	path = lain
	url = git://github.com/lcpz/lain.git

[submodule "freedesktop"]
	path = freedesktop
	url = git://github.com/lcpz/awesome-freedesktop.git
[submodule "tyrannical"]
	path = tyrannical
	url = git@github.com:Elv13/tyrannical.git
